In [18]:
import seaborn as sns
import pandas as pd
import matplotlib.pylab as plt
import re
import matplotlib as mpl
from matplotlib import rc
import missingno as msno
import warnings
import datetime
warnings.filterwarnings('ignore')

# matplotlib 한글 사용을 위한 코드
rc('font', family='AppleGothic')

In [36]:
final_df = pd.read_csv('final_df_07.csv').drop(columns='Unnamed: 0')

In [37]:
final_df.head(2)

,title,director,producer,importer,distributor,distributor_group,release_date,release_season,release,form,...,starring_actors,running_times,audience_rating,rating_audiences,realease_year,director_power,director_movie_num,sequel,original,actor_power
0,어벤져스: 에이지 오브 울트론,조스 웨던,NaN,월트디즈니컴퍼니코리아(주),월트디즈니컴퍼니코리아(주),B,4/23/2015,spring,개봉영화,장편,...,"로버트 다우니 주니어,크리스 헴스워스,마크 러팔로",141,8.612377,5268,2015,17567536.0,1 [1],1,0,542407997
1,국제시장,윤제균,"(주)제이케이필름,씨제이이앤엠(주)",NaN,씨제이이앤엠(주),A,12/17/2014,winter,개봉영화,장편,...,"황정민,김윤진,오달수",126,9.272091,1143,2014,5334561.0,1 [1],0,0,608444941

In [41]:
final_df.iloc[0]

title                            어벤져스: 에이지 오브 울트론
director                                    조스 웨던
producer                                      NaN
importer                           월트디즈니컴퍼니코리아(주)
distributor                        월트디즈니컴퍼니코리아(주)
distributor_group                               B
release_date                            4/23/2015
release_season                             spring
release                                      개봉영화
form                                           장편
nation                                         미국
screen                                       1843
rev_nationwide                        8.85826e+10
aud_nationwide                           10494499
rev_seoul                             25001906266
rev_seoul.1                               2823388
genre                                          액션
rate                                     12세이상관람가
type                                         일반영화
expert_rating                                6.92
starring_actors       로버트 다우니 주니어,크리스 헴스워스,마크 러팔로
running_times                                 141
audience_rating                           8.61238
rating_audiences                             5268
realease_year                                2015
director_power                        1.75675e+07
director_movie_num                          1 [1]
sequel                                          1
original                                        0
actor_power                             542407997
Name: 0, dtype: object

In [104]:
# final_df.info()

In [42]:
X = final_df.drop(columns=['aud_nationwide'])
y = final_df['aud_nationwide']

In [107]:
final_df = final_df.drop(columns=['producer', 'importer'])

In [112]:
final_df = final_df.dropna()

In [113]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 925 entries, 0 to 927
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               925 non-null    object
 1   director            925 non-null    object
 2   distributor         925 non-null    object
 3   distributor_group   925 non-null    object
 4   release_date        925 non-null    object
 5   release_season      925 non-null    object
 6   release             925 non-null    object
 7   form                925 non-null    object
 8   nation              925 non-null    object
 9   screen              925 non-null    int64
 10  rev_nationwide      925 non-null    float64
 11  aud_nationwide      925 non-null    int64
 12  rev_seoul           925 non-null    int64
 13  rev_seoul.1         925 non-null    int64
 14  genre               925 non-null    object
 15  rate                925 non-null    object
 16  type                925 non-null    object
 17  expert_rating       925 non-null    float64
 18  starring_actors     925 non-null    object
 19  running_times       925 non-null    int64
 20  audience_rating     925 non-null    float64
 21  rating_audiences    925 non-null    int64
 22  realease_year       925 non-null    int64
 23  director_power      925 non-null    float64
 24  director_movie_num  925 non-null    object
 25  sequel              925 non-null    int64
 26  original            925 non-null    int64
 27  actor_power         925 non-null    int64
dtypes: float64(4), int64(10), object(14)
memory usage: 209.6+ KB

In [116]:
len(final_df)

925

In [115]:
final_df.to_csv('final_df_08.csv')

In [122]:
len(final_df.columns)

28

In [118]:
X = final_df.drop(columns='aud_nationwide')
y = final_df['aud_nationwide']

In [131]:
len(X_train)+len(X_test)

925

In [127]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [132]:
X_train.to_csv('X_train_08_1.csv')
y_train.to_csv('y_train_08_1.csv')

In [133]:
X_test.to_csv('X_test_08_1.csv')
y_test.to_csv('y_test_08_1.csv')

#  train 데이터셋으로 회귀분석 시작하기
- X_train, y_train

In [78]:
X_train.head(1)

,title,director,producer,importer,distributor,distributor_group,release_date,release_season,release,form,...,starring_actors,running_times,audience_rating,rating_audiences,realease_year,director_power,director_movie_num,sequel,original,actor_power
280,바다 탐험대 옥토넛 시즌4: 아슬아슬 구조대작전,다라 오코넬,NaN,(주)얼리버드픽쳐스,와이드 릴리즈(주),D,6/2/2016,summer,개봉영화,장편,...,"하성용,정재헌,엄상현",68,8.451613,155,2016,1206342.0,5 [5],1,1,26048880

In [ ]:
X = X_train.drop(columns=['title', 'director', 'distributor', 'release_date', 'release', 'form', 'rev_nationwide', 'rev_seoul', 'rev_seoul.1', 'type', 'starring_actors', 'realease_year', 'director_movie_num'])

In [ ]:
y = y_train

In [76]:
X_train.columns

Index(['title', 'director', 'producer', 'importer', 'distributor',
       'distributor_group', 'release_date', 'release_season', 'release',
       'form', 'nation', 'screen', 'rev_nationwide', 'rev_seoul',
       'rev_seoul.1', 'genre', 'rate', 'type', 'expert_rating',
       'starring_actors', 'running_times', 'audience_rating',
       'rating_audiences', 'realease_year', 'director_power',
       'director_movie_num', 'sequel', 'original', 'actor_power'],
      dtype='object')

In [82]:
len(X.columns)

14

In [83]:
train_df = pd.concat([X, y], axis=1)

In [100]:
# C(sequel), C(original)

In [103]:
# list(train_df['director_power'])

In [94]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 742 entries, 280 to 168
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   distributor_group  742 non-null    object
 1   release_season     742 non-null    object
 2   nation             742 non-null    object
 3   screen             742 non-null    int64
 4   genre              742 non-null    object
 5   rate               742 non-null    object
 6   expert_rating      742 non-null    float64
 7   running_times      742 non-null    int64
 8   audience_rating    742 non-null    float64
 9   rating_audiences   742 non-null    int64
 10  director_power     740 non-null    float64
 11  sequel             742 non-null    int64
 12  original           742 non-null    int64
 13  actor_power        742 non-null    int64
 14  aud_nationwide     742 non-null    int64
dtypes: float64(3), int64(7), object(5)
memory usage: 112.8+ KB

In [93]:
train_df.head(2)

,distributor_group,release_season,nation,screen,genre,rate,expert_rating,running_times,audience_rating,rating_audiences,director_power,sequel,original,actor_power,aud_nationwide
280,D,summer,영국,162,애니메이션,전체관람가,0.00,68,8.451613,155,1206342.0,1,1,26048880,56866
688,D,autumn,한국,638,드라마,15세이상관람가,6.11,98,9.294964,417,720292.0,0,0,48564798,720292

In [91]:
train_df.columns

Index(['distributor_group', 'release_season', 'nation', 'screen', 'genre',
       'rate', 'expert_rating', 'running_times', 'audience_rating',
       'rating_audiences', 'director_power', 'sequel', 'original',
       'actor_power', 'aud_nationwide'],
      dtype='object')

In [87]:
import statsmodels.api as sm

In [ ]:
sm.OLS.from_formula("aud_nationwide ~ distributor_group,", data=train_df)