In [18]:
import seaborn as sns
import pandas as pd
import matplotlib.pylab as plt
import re
import matplotlib as mpl
from matplotlib import rc
import missingno as msno
import warnings
import datetime
warnings.filterwarnings('ignore')

# matplotlib 한글 사용을 위한 코드
rc('font', family='AppleGothic')

In [36]:
final_df = pd.read_csv('final_df_07.csv').drop(columns='Unnamed: 0')

In [37]:
final_df.head(2)

,title,director,producer,importer,distributor,distributor_group,release_date,release_season,release,form,...,starring_actors,running_times,audience_rating,rating_audiences,realease_year,director_power,director_movie_num,sequel,original,actor_power
0,어벤져스: 에이지 오브 울트론,조스 웨던,NaN,월트디즈니컴퍼니코리아(주),월트디즈니컴퍼니코리아(주),B,4/23/2015,spring,개봉영화,장편,...,"로버트 다우니 주니어,크리스 헴스워스,마크 러팔로",141,8.612377,5268,2015,17567536.0,1 [1],1,0,542407997
1,국제시장,윤제균,"(주)제이케이필름,씨제이이앤엠(주)",NaN,씨제이이앤엠(주),A,12/17/2014,winter,개봉영화,장편,...,"황정민,김윤진,오달수",126,9.272091,1143,2014,5334561.0,1 [1],0,0,608444941

In [41]:
final_df.iloc[0]

title                            어벤져스: 에이지 오브 울트론
director                                    조스 웨던
producer                                      NaN
importer                           월트디즈니컴퍼니코리아(주)
distributor                        월트디즈니컴퍼니코리아(주)
distributor_group                               B
release_date                            4/23/2015
release_season                             spring
release                                      개봉영화
form                                           장편
nation                                         미국
screen                                       1843
rev_nationwide                        8.85826e+10
aud_nationwide                           10494499
rev_seoul                             25001906266
rev_seoul.1                               2823388
genre                                          액션
rate                                     12세이상관람가
type                                         일반영화
expert_rating                                6.92
starring_actors       로버트 다우니 주니어,크리스 헴스워스,마크 러팔로
running_times                                 141
audience_rating                           8.61238
rating_audiences                             5268
realease_year                                2015
director_power                        1.75675e+07
director_movie_num                          1 [1]
sequel                                          1
original                                        0
actor_power                             542407997
Name: 0, dtype: object

In [46]:
len(final_df.columns)

30

In [42]:
X = final_df.drop(columns=['aud_nationwide'])
y = final_df['aud_nationwide']

In [48]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [49]:
X_train.to_csv('X_train_07_1.csv')
y_train.to_csv('y_train_07_1.csv')

In [50]:
X_test.to_csv('X_test_07_1.csv')
y_test.to_csv('y_test_07_1.csv')

In [57]:
pd.read_csv('y_train_07_1.csv')

     Unnamed: 0  aud_nationwide
0           280           56866
1           688          720292
2           375           54144
3           665         3491857
4           589          661965
..          ...             ...
737         534          137052
738         584         1125238
739         493         1373316
740         527          203045
741         168           93534

[742 rows x 2 columns]

In [16]:
final_df.columns

Index(['title', 'director', 'producer', 'importer', 'distributor',
       'distributor_group', 'release_date', 'release_season', 'release',
       'form', 'nation', 'screen', 'rev_nationwide', 'aud_nationwide',
       'rev_seoul', 'rev_seoul.1', 'genre', 'rate', 'type', 'expert_rating',
       'starring_actors', 'running_times', 'audience_rating',
       'rating_audiences', 'realease_year', 'director_power',
       'director_movie_num', 'sequel', 'original', 'actor_power'],
      dtype='object')

In [28]:
len(final_df['type'].unique())

2

In [ ]:
df = final_df.drop(columns=['director', 'producer', 'importer', 'distributor', 'release_date', 'release', 'rev_nationwide', 'rev_seoul', 'rev_seoul.1', 'type', 'starring_actors', ''])

In [20]:
final_df.iloc[0]

title                            어벤져스: 에이지 오브 울트론
director                                    조스 웨던
producer                                      NaN
importer                           월트디즈니컴퍼니코리아(주)
distributor                        월트디즈니컴퍼니코리아(주)
distributor_group                               B
release_date                            4/23/2015
release_season                             spring
release                                      개봉영화
form                                           장편
nation                                         미국
screen                                       1843
rev_nationwide                        8.85826e+10
aud_nationwide                           10494499
rev_seoul                             25001906266
rev_seoul.1                               2823388
genre                                          액션
rate                                     12세이상관람가
type                                         일반영화
expert_rating                                6.92
starring_actors       로버트 다우니 주니어,크리스 헴스워스,마크 러팔로
running_times                                 141
audience_rating                           8.19318
rating_audiences                               88
realease_year                                2015
director_power                        1.75675e+07
director_movie_num                          1 [1]
sequel                                          1
original                                        0
actor_power                             542407997
Name: 0, dtype: object