In [1]:
movie_df = pd.read_csv('final_df_05.csv')

In [5]:
movie_df.head()

,title,director,producer,importer,distributor,distributor_group,release_date,release_season,release,form,...,expert_rating,starring_actors,running_times,audience_rating,rating_audiences,realease_year,director_power,director_movie_num,sequel,original
0,어벤져스: 에이지 오브 울트론,조스 웨던,NaN,월트디즈니컴퍼니코리아(주),월트디즈니컴퍼니코리아(주),B,4/23/2015,spring,개봉영화,장편,...,6.92,"로버트 다우니 주니어(토니 스타크 / 아이언맨), 크리스 헴스워스(토르), 마크 러...",141,8.193182,88,2015,17567536.0,1 [1],1,0
1,국제시장,윤제균,"(주)제이케이필름,씨제이이앤엠(주)",NaN,씨제이이앤엠(주),A,12/17/2014,winter,개봉영화,장편,...,5.81,"황정민(덕수), 김윤진(영자), 오달수(달구)",126,8.246201,329,2014,5334561.0,1 [1],0,0
2,킹스맨 : 시크릿 에이전트,매튜 본,NaN,이십세기폭스코리아(주),이십세기폭스코리아(주),B,2/11/2015,winter,개봉영화,장편,...,7.58,"콜린 퍼스(해리), 태런 에저튼(에그시), 사무엘 L. 잭슨(발렌타인)",128,8.548387,31,2015,17202955.0,2 [2],1,0
3,쥬라기 월드,콜린 트레보로우,NaN,유니버설픽쳐스인터내셔널 코리아(유),유니버설픽쳐스인터내셔널 코리아(유),B,6/11/2015,summer,개봉영화,장편,...,6.63,"크리스 프랫, 브라이스 달라스 하워드, 빈센트 도노프리오",125,8.337789,1945,2015,4565911.0,1 [1],0,1
4,조선명탐정 : 사라진 놉의 딸,김석윤,청년필름(주),NaN,(주)쇼박스,C,2/11/2015,winter,개봉영화,장편,...,5.85,"김명민(명탐정 김민), 오달수(서필), 이연희(히사코)",125,8.172131,610,2015,10168360.0,2 [2],1,0

In [8]:
movie_df.columns

Index(['title', 'director', 'producer', 'importer', 'distributor',
       'distributor_group', 'release_date', 'release_season', 'release',
       'form', 'nation', 'screen', 'rev_nationwide', 'aud_nationwide',
       'rev_seoul', 'rev_seoul.1', 'genre', 'rate', 'type', 'expert_rating',
       'starring_actors', 'running_times', 'audience_rating',
       'rating_audiences', 'realease_year', 'director_power',
       'director_movie_num', 'sequel', 'original'],
      dtype='object')